.group-9 {
  display: flex;
  height: 35px;
  left: 1493px;
  position: absolute;
  top: 38px;
  width: 34px;
}

.group-8 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  min-width: 34.22px;
}

.overlap-group-1 {
  height: 35px;
  margin-bottom: 0;
  position: relative;
  width: 34px;
}

.group-7 {
  display: flex;
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 26px;
}

.ellipse-5 {
  border-radius: 13px;
  flex: 1;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-right: -1px;
  margin-top: -1px;
  width: 28px;
}

.path-3 {
  height: 14px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 21px;
  width: 15px;
}

.group-9.group-93 {
  left: 1495px;
}

